# Allowlisting gitignore template for GO projects prevents us
# from adding various unwanted local files, such as generated
# files, developer configurations or IDE-specific files etc.
#
# Recommended: Go.AllowList.gitignore

# But not these files...
!/.gitignore

!*.go
!go.sum
!go.mod

!README.md
!LICENSE
!Changelog.md
!Backlog.md
!ImplementationNotes.md
!e2e-tests/Gemfile
!e2e-tests/*/**
!VERSION
!Development.md

!docs/*
!docs/*/**
bin/a9s

# !Makefile

# ...even if they are in subdirectories
!*/

dist/
